<h3>Facebook Comments</h3><p><fb:comments-count href={{ site.url }}{{ site.baseurl }}{{ page.url }} /></fb:comments-count> comments</p><div style="text-align:center"><div class="fb-comments" style="margin:0 auto" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-num-posts="10" data-width="720" data-colorscheme="light"></div></div>
        
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=658681237481933";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>