<div class="container navigation">
    <div class="col-md-5 left">
      <a class="link" href="{{ site.baseurl }}/">Home</a>
      <a class="link" href="{{ site.baseurl }}/blog">Blog</a>
    </div>
    <div class="col-md-2 center">
        <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/_img/logo.png" alt="Magnified Joy Photography"></a>
    </div>
    <div class="col-md-5 right">
            <a class="link" href="{{ site.baseurl }}/about">About</a>
            <a class="link" href="{{ site.baseurl }}/contact">Contact</a>
    </div>
</div>
