<!-- Begin MailChimp Signup Form -->
<div class="center contact bottom">
	<h3>Subscribe to our newsletter</h3>
	
	<form action="//magnifiedjoy.us9.list-manage.com/subscribe/post?u=3d922b022cb0ef6b6ce2337d3&amp;id=f1ffb47dc2" role="form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="width:80%;margin:0 auto;" novalidate>
	    <input type='hidden' name='redirect_to' value='{{ site.url }}/contact/thanks' class="hidden" />
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_3d922b022cb0ef6b6ce2337d3_f1ffb47dc2" tabindex="-1" value=""></div>
	    <div class="input-group">
	      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter your email address" required>
	      <span class="input-group-btn">
	        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" value="Subscribe" style="width:auto;padding:0 2em;"/>
	      </span>
	    </div>
	</form>
</div>
<!--End mc_embed_signup-->