---
layout: default
---
{% if page.gallery %}
    {% assign posts = site.categories.[page.gallery] %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

<div class="container gallery content">
    <div class="row">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="row">
        <!-- <div class="col-md-1"></div>
        <div class="col-md-10"> -->

            {{ content }}


            <div class="gamma-container gamma-loading" id="gamma-container">

              <ul class="gamma-gallery">
                {% for post in posts %}
                <li>
                  <div data-alt="{{ post.title }}" data-description="<h3>{{ post.title }}</h3>">
                    <div data-src="{{ post.thumbnail }}"></div>
                  </div>
                </li>

                {% endfor %}


              </ul>

              <div class="gamma-overlay"></div>

            </div>

      <!-- </div>
      <div class="col-md-1"></div>  -->
    </div>
    <!-- <div class="center">
        <div class="btn-group">
            <button type="button" class="active btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>
            <button type="button" class="btn btn-default">3</button>
            <button type="button" class="btn btn-default">4</button>
        </div>
        <button type="button" class="btn btn-default">next page</button>
    </div> -->
</div>
<script type="text/javascript" src="{{ site.baseurl }}/_js/lib/gamma/gamma.js"></script>
