{% assign posts = site.categories.home %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}
    
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
      
        {% for post in posts %}

        <div class="item{% if forloop.first %} active{% endif %}">
          <img src="{{ site.baseurl }}/_img/transparent.png" style="background-image:url({{ post.image }})" alt="{{ post.title }}">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{ post.title }}</h1>
              <p><a class="btn btn-lg btn-primary" href="{{ post.link }}" role="button">{{ post.link-label }}</a></p>
            </div>
          </div>
        </div>

        {% endfor %}
    
      </div>
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev"><img src="{{ site.baseurl }}/_img/arrow-left.png" alt=""></a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next"><img src="{{ site.baseurl }}/_img/arrow-right.png" alt=""></a>
        </div>
    
      {% include bottom.html %}
      {% include footer.html %}
      {% include analytics.html %}
  </body>

</html>
